body {
    background-image: linear-gradient(to left top, #d16b6b, #d66881, #d3689a, #c86eb3, #b477cc, #ca7acf, #e07cd1, #f57fd1, #ff86aa, #ffa47d, #ffce5c, #fbfa5f);

}

h1 {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 5px solid #0040ff;
    border-radius: 88px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 130px;
    border: 5px;
    border-radius: 88px;
    cursor: pointer;
}

button:hover {
    background-color: #1d04ff;
}